@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #6efd01;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
  }
}
